$colors: (
        primarybackground: black,
        secondarybackground: gray,
        primarytext: white,
        primaryborder: midnightblue,
);

//Title of each section
.lrgCard {
  color: map_get($colors, primarytext);

  div .title-bar {

    .row {
      margin: auto;
      flex-wrap: nowrap;

      h2.card-title {

      }
    }
  }
}

.mr-3 {
  max-width: 80px;
  max-height: 40px;
  margin: 0px 0px 0px 1rem;
}

#card-title {
  height: fit-content;
  padding-top: 5px;
}

.img-fluid {
  height: 2em;
  max-height: fit-content;
}

.deck {
  flex-wrap: wrap;
  flex-flow: row wrap;
  display: flex;
}

.col.card {
  margin: 0px 0px;
}