.lrgCard {
  //margin-bottom: 0px;
  margin: 5px 0px 20px;
  color: #ffffff;
  background-color: black;
  //border: 3px solid midnightblue;
  padding-bottom: 0;
  max-height: fit-content;
  box-sizing: content-box;
  height: auto;
};

#card-title-p {
  vertical-align: middle;
}

#card-title {
  height: fit-content;
  //vertical-align: middle;
}
.card-header {
  //height: 2em;
  max-height: fit-content;
}

.img-fluid {
  height: 2em;
  max-height: fit-content;
}


.card-columns {
  @media (max-width: 660px)  {
    column-count: 2;
  }
  column-count: 4;
}