@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "../body/style/color";

a {
  border-radius: 8px;
}

.sticky-top {
  //border-bottom: 3px solid black;
  justify-content: center;
}

nav.navbar.navbar-expand-md {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

button.menuToggle {
  font-size: 1.25rem;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: hidden;
}

a.title {
  position: absolute;
  top: -225px;
  font-size: 2rem;

  @media (min-width: 900px) {
    font-size: 3rem;
    top: -250px;
  }
  font-weight: 900;
  opacity: 0.8;
  box-shadow: 0 0 16px #000, 0 0 32px #000;
  animation: border-flicker 2s linear forwards, letter-flicker 3s linear infinite;
  mix-blend-mode: normal;
}

.navbar-nav .nav-link {
  padding: .5em 1.5em .5em;
  font-size: 1.25rem;
}

#lighttoggle:hover {
  animation: unset;
}

a.nav-link:hover {
  @media only screen and (min-width: 800px) {
    animation: border-flicker 5s linear forwards, letter-flicker 8s linear infinite;
  }
}

a.nav-link.active {
  @media only screen and (min-width: 800px) {
    animation: border-flicker 2s linear forwards, letter-flicker 3s linear infinite;
  }
}

@keyframes letter-flicker {
  2%, 6%, 11%, 18%, 32%, 37%, 40%, 100% {
    color: orangered;
    text-shadow: 0 0 50px orangered;
  }
  3%, 9%, 14%, 33%, 39% {
    color: darkred;
    text-shadow: none;
  }
}

@keyframes border-flicker {
  2%, 5%, 7%, 13%, 18%, 34%, 54%, 100% {
    border: 3px solid cornflowerblue;
    box-shadow: 0 0 50px -1px cornflowerblue,
    0 0 12px -1px cornflowerblue inset;
  }
  3%, 6%, 9%, 16%, 22%, 36% {
    border: 3px solid midnightblue;
    box-shadow: none;
  }
}