@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

a {
    border-radius: 8px;
    border: 3px solid midnightblue;
}

.sticky-top {
    border-bottom: 3px solid black;
    background: black;
    justify-content: center;
}

.navbar-light {
    font-family: Dosis, sans-serif;
    text-align: center;
}

button.menuToggle {
    justify-content: center;
    color: white;
}

/*.navbar-light .navbar-brand {*/
/*    position: absolute;*/
/*    top: -225px;*/
/*    !*color: white;*!*/

/*    !*background-color: #fff;*!*/
/*    color: #000;*/
/*    mix-blend-mode: screen;*/
/*    !*position: absolute;*!*/
/*    !*top: 50%;*!*/
/*    !*left: 50%;*!*/
/*    !*transform: translate(-50%, -50%);*!*/
/*    padding: 16px;*/
/*    border-radius: 8px;*/
/*    !*font-family: arial;*!*/
/*    font-size: 1.5em;*/
/*    font-weight: bold;*/
/*    !*margin: 0;*!*/
/*    opacity: 0.9;*/
/*}*/
/*.navbar-light .navbar-brand:last-child {*/
/*    mix-blend-mode: normal;*/
/*    color: transparent;*/
/*    background: none;*/
/*    box-shadow: 0 0 16px #000, 0 0 32px #000;*/
/*    background-color: white;*/
/*}*/

a.title {
    position: absolute;
    top: -225px;
    color: transparent;
    background-color: black;
    font-size: 2em;
    font-weight: 900;
    opacity: 0.8;
    box-shadow: 0 0 16px #000, 0 0 32px #000;
    animation: border-flicker 2s linear forwards, letter-flicker 3s linear infinite;
    mix-blend-mode: normal;
}

.navbar-light .navbar-toggler {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    background-color: transparent;
    padding: .5em 1.5em .5em;
    font-size: 24px;
    margin-right: .5em;
    /*width: fit-content;*/

}

a.nav-link:hover {
    animation: border-flicker 2s linear forwards, letter-flicker 3s linear infinite;
}

a.nav-link.active {
    animation: border-flicker 2s linear forwards, letter-flicker 3s linear infinite;
}

@keyframes letter-flicker {
    2%, 6%, 11%, 18%, 32%, 37%, 40%, 100% {
        color: orangered;
        text-shadow: 0 0 50px orangered;
    }
    3%, 9%, 14%, 33%, 39% {
        color: darkred;
        text-shadow: none;
    }
}

@keyframes border-flicker {
    2%, 5%, 7%, 13%, 18%, 34%, 54%, 100% {
        border: 3px solid cornflowerblue;
        box-shadow: 0 0 50px -1px cornflowerblue,
        0 0 12px -1px cornflowerblue inset;
    }
    3%, 6%, 9%, 16%, 22%, 36% {
        border: 3px solid midnightblue;
        box-shadow: none;
    }
}