$colors: (
        primarybackground: black,
        secondarybackground: gray,
        primarytext: white,
        primaryborder: midnightblue,
);

//Title of each section
.lrgCard {
  color: map_get($colors, primarytext);

  div.title-bar.container {
    text-align: center;
    padding: 10px;

    .row {
      margin: auto;
      flex-wrap: nowrap;
      justify-content: center;
      border-bottom: solid darkgray;

      img.img-fluid {
        height: 100%;
        margin-right: 1rem;
      }

      h2#card-title {

      }
    }
  }
}

div.container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5rem;
  padding-right: 5rem;

  @media (min-width: 800px ) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @media (max-width: 570px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

//Refactor to own file
.mr-3 {
  max-width: 80px;
  max-height: 40px;
  margin: 0px 0px 0px 1rem;
}