$colors: (
        primarybackground: black,
        secondarybackground: #191919,
        primarytext: white,
        primaryborder: midnightblue,
);

//Title of each section
.background {
  font-family: 'Montserrat', sans-serif;
  background-color: map_get($colors, primarybackground);
  padding: 10px;
  .lrgCard {
    color: map_get($colors, primarytext);
    offset-after: 85px;
    background-color: map_get($colors, secondarybackground);
    padding: .5rem;
    border-radius: 1rem;

    div.title-bar.container {
      text-align: center;

      .row {
        margin: auto;
        flex-wrap: nowrap;
        padding: .5rem;
        //justify-content: center;
        border-bottom: solid darkgray;

        img.img-fluid {
          height: 100%;
          background-color: map_get($colors, secondarybackground);
          margin-right: .5rem;
        }

        h2#card-title {
          font-weight: bolder;

        }
      }
    }
  }
}

div.img-back {
  background-color: map_get($colors, secondarybackground);
  border: unset;
}

div.container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

//Refactor to own file
img.mr-3 {
  max-width: 80px;
  max-height: 40px;
  margin: 0px 0px 0px 1rem;
}