@import "color";

//Title of each section
.background {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  @media (min-width: 900px) {
    padding-left: 20%;
    padding-right: 20%;
  }

  .lrgCard {
    offset-after: 85px;
    padding: .5rem;
    border-radius: 1rem;

    div.title-bar.container {
      text-align: center;

      .row {
        margin: auto;
        flex-wrap: nowrap;
        padding: .5rem;
        //border-bottom: solid darkcolor(primarytext);

        svg {
          height: 100%;
          margin-right: .5rem;
        }

        h2#card-title {
          font-weight: bolder;
          font-size: xx-large;

        }
      }
    }
  }
}

div.img-back {
  background-color: transparent;
  border: unset;
}

div.container-fluid {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

//Refactor to own file
svg.build {
  max-width: 80px;
  max-height: 40px;
}