///////////////
// Color Palettes
///////////////
$colors: (
        primarybackground: lightblue,
        secondarybackground: white,
        primarytext: #006060,
);

$darkcolors: (
        primarybackground:  #121212,
        secondarybackground: #191919,
        primarytext: white,
);

@function color($colorname) {
  @return map_get($colors, $colorname);
}

@function darkcolor($colorname) {
  @return map_get($darkcolors, $colorname);
}

///////////////
//BODY Color
///////////////

//Title of each section
.dark {
  .accordion {
    .background {
      background-color: darkcolor(primarybackground);
      .lrgCard {
        color: darkcolor(primarytext);
        background-color: darkcolor(secondarybackground);
        div.title-bar.container {
          .row {
            border-bottom: solid darkcolor(primarytext);
          }
        }
        svg {
          fill: darkcolor(primarytext);
        }
      }
    }
  }
  button, a.btn.btn-primary {
    background-color: darkcolor(primarytext);
    color: darkcolor(primarybackground);
    border-color: unset;
  }
}

.light {
  .accordion {
    .background {
      background-color: color(primarybackground);
      .lrgCard {
        color: color(primarytext);
        background-color: color(secondarybackground);
        div.title-bar.container {
          .row {
            border-bottom: solid color(primarytext);
          }
        }
        svg {
          fill: color(primarytext);
        }
      }
    }
  }
  button, a.btn.btn-primary {
    background-color: color(primarytext);
    color: white;
    border-color: unset;
  }
}

.dark {
  h6 {
    color: darkcolor(primarytext);
  }
}
.light {
  h6 {
    color: color(primarytext);
  }
}

///////////////
//NavBar Items
///////////////
nav.navbar.navbar-expand-md.navbar-dark.sticky-top {
  background: darkcolor(secondarybackground);

  button.menuToggle {
    color: darkcolor(primarytext);
    //border-color: transparent;
  }

  .navbar-toggler {
    color: darkcolor(primarytext);
  }

  a.title {
    color: darkcolor(primarytext);
    background-color:  darkcolor(primarybackground);
  }

  .navbar-nav .nav-link {
    border: 3px solid transparent;
    color: darkcolor(primarytext);
    background-color: transparent;
  }
  #lighttoggle {
    fill: darkcolor(primarytext);
  }
}

nav.navbar.navbar-expand-md.navbar-light.sticky-top {
  background: color(secondarybackground);

  button.menuToggle {
    color: color(primarytext);
  }

  .navbar-toggler {
    color: color(primarytext);
  }

  a.title {
    color: color(primarytext);
    background-color:  color(primarybackground);
  }

  .navbar-nav .nav-link {
    border: 3px solid transparent;
    color: color(primarytext);
    background-color: transparent;
  }

  #lighttoggle {
    fill: color(primarytext);
  }
}