//Contact Div Body
div.body.container {
  div {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    div {
      a {
        //Image
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50px;
        }
        //Link Label
        h6 {
          text-align: center;
        }
      }
    }
  }
}

//div.col-sm-2.col-4:hover {
//
//  background-color: white;
//  border-radius: 2px;
//  color: black;
//  fill: black;
//}