$colors: (
        primarybackground: black,
        secondarybackground: gray,
        primarytext: white,
        primaryborder: midnightblue,
);

@function color($colorname) {
  @return map_get($colors, $colorname);
}

//Contact Div Body
div.body.container {
  div {
    //background-color: color(primarybackground);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    div {
      a {
        //Image
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50px;
        }
        //Link Label
        h6 {
          color: color(primarytext);
          text-align: center;
        }
      }
    }
  }
}